#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
   font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
    background: #f7f8fa;
    color: #222;
    overflow-x: hidden;

}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

p, li{
  font-size: 1.125rem;
}
